{
    "comments": false,
    "env": {
      "main": {
        "presets": [
          [
            "env",
            {
              "modules": false,
              "targets": {
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
                "node": 7
              },
              "useBuiltIns": true
            }
          ],
          "stage-3"
        ],
        "plugins": [
          "transform-runtime"
        ]
      }
    }
  }
  